# -----------------------
# Application
# -----------------------
APP_NAME=MoneyWise-api
APP_ENV=production
APP_KEY=base64:50tLuAj4S2DukfgmvtyhJcRerNFbMqxKXeVU+BtGu+Y=
APP_DEBUG=false
APP_URL=https://moneywise-api-backend.onrender.com
FRONTEND_URL=https://moneywise-frontend.vercel.app


LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# -----------------------
# Database PostgreSQL (Render)
# -----------------------
DB_CONNECTION=pgsql
DB_HOST=dpg-d3bdtr3e5dus73cfoedg-a.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=db_moneywise
DB_USERNAME=mld
DB_PASSWORD=1J4sDfEfDd2JC0QM07yfUIfBIKzzspIZ
DB_SSLMODE=require

# -----------------------
# Cache & Session
# -----------------------
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# -----------------------
# Mailer (exemple Mailtrap)
# -----------------------
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mohamed.lamarane.diallo.7@gmail.com
MAIL_PASSWORD=/jvxq/rlht/edyf/ezbx/\
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mohamed.lamarane.diallo.7@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

# -----------------------
# JWT
# -----------------------
JWT_SECRET=FkZNlXKtk6vqd3E0pvjCRynsAM5s7jH3b5E4GzMfIXTC37BOrhQiB3cQZfVt89tZ
